name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  GOEXPERIMENT: cgocheck2,loopvar,newinliner,jsonv2,greenteagc

jobs:
  test:
    runs-on: ubuntu-slim

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v6

      # https://github.com/actions/setup-go
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          check-latest: true

      - name: Go vet
        run: |
          go vet ./...

      - name: Go test
        run: |
          go test -v -race -count=1 -shuffle=on -run=. ./...
